

<div class="wrapper col-sm-12 no-padder">
	<div class="page-title aboutPageBg">
		<div class="container">
			<h1>About Us</h1>	
		</div>
	</div>
	<div class="container">
		<div class="col-sm-9">
			<div class="contentTab clearfix">
				<div class="col-sm-12">
					<h3 class="pageSubTitle">Our History</h3>
					<p class="col-sm-12 content">
						Founded in 1984 donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
					</p>
				</div>
			</div>
			<div class="contentTab clearfix">
				<div class="col-sm-12">
					<h3 class="pageSubTitle">Our Vision</h3>
					<p class="col-sm-12 content">
						Founded in 1984 donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
					</p>
				</div>
			</div>
			<div class="contentTab clearfix">
				<div class="col-sm-12">
					<h3 class="pageSubTitle">Management</h3>
					<div class="col-sm-4 managementProfileHolder">
						<img src="images/principalProfile.jpg" class="management-profile-pic">
						<div class=" managementDetail col-sm-12">
							<div class="col-sm-12">
								<h3>John Doe</h3>
								<span class="profilePosition">Principal</span>
							</div>
						</div>
					</div>
					<div class="col-sm-4 managementProfileHolder">
						<img src="images/managementPic1.jpg" class="management-profile-pic"> 
						<div class=" managementDetail col-sm-12">
							<div class="col-sm-12">
								<h3>Miss Mary</h3>
								<span class="profilePosition">Deputy Head</span>
							</div>
						</div>
					</div>
					<div class="col-sm-4 managementProfileHolder">
						<img src="images/managementPic2.jpg" class="management-profile-pic">
						<div class="managementDetail col-sm-12">
							<div class="col-sm-12 ">
								<h3>Paul</h3>
								<span class="profilePosition">Assistant Head</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="list-group sidePanel">
			  <a href="#" class="list-group-item text-center">
			    <button class="btn btn-secondary">Admission Process</button>
			  </a>
			  <a href="#" class="list-group-item text-center">
			    <button class="btn btn-secondary">School Prospectus</button>
			  </a>
			  <a href="#" class="list-group-item text-center">
			    <button class="btn btn-secondary">Apply Now</button>
			  </a>
			</div>
			<div class="clearfix">
				<h4>Recent Videos</h4>
				<div class="">
					<iframe src="https://www.youtube.com/embed/d2aITYDBi1A" frameborder="0" allowfullscreen></iframe>
				</div>
				<div>
					<iframe src="https://www.youtube.com/embed/i2bUBeQ0X-8" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>