		<div class="col-md-7 col-xs-12 ">
					<h3>Latest News</h3>
					<div class="clearfix newsSection">
						<div class="col-sm-6 newsImage no-padder">
							<img src="/app/assets/images/newsImage1.jpg">
						</div>
						<div class="col-sm-6 newsContent">
							<h4>School Concert</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...</p>
							<button class="btn btn-primary">Read More</button>
						</div>
					</div>
					<div class="clearfix newsSection">
						<div class="col-sm-6 newsImage no-padder">
							<img src="/app/assets/images/newsImage2.jpg">
						</div>
						<div class="col-sm-6 newsContent">
							<h4>Sports Day</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...</p>
							<button class="btn btn-primary">Read More</button>
						</div>
					</div>
					<div class="clearfix newsSection">
						<div class="col-sm-6 newsImage no-padder">
							<img src="/app/assets/images/newsImage3.jpg">
						</div>
						<div class="col-sm-6 newsContent">
							<h4>Science Exhibition</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...</p>
							<button class="btn btn-primary">Read More</button>
						</div>
					</div>
				</div>