<div class="col-md-5 col-xs-12">
					<h3>Upcoming Events</h3>
					<div class="clearfix upcomingEvents">
						<div class="col-sm-12 event-tab">
							<div class="col-sm-4">
								<div class="eventDate"><span>2 Jul<br>2017</span></div>	
							</div>
							<div class="col-sm-8">
								<h4 class="eventTitle">Creative Enhancement</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
							</div>
						</div>
						<div class="col-sm-12 event-tab">
							<div class="col-sm-4">
								<div class="eventDate"><span>23 Jul<br>2017</span></div>	
							</div>
							<div class="col-sm-8">
								<h4 class="eventTitle">Drama Workshop</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
							</div>
						</div>
						<div class="col-sm-12 event-tab">
							<div class="col-sm-4">
								<div class="eventDate"><span>5 Aug<br>2017</span></div>	
							</div>
							<div class="col-sm-8">
								<h4 class="eventTitle">Dance Hall</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button class="btn btn-secondary">View All Events</button>
						</div>
					</div>
				</div>